# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Distribution / packaging
.Python

# Environment variables
venv/
.venv
.env
.env.local
.env.*.local

# Database files
*.db
*.sqlite3

# IDE files
.vscode/
.idea/
*.iml
.DS_Store

# Logs
logs/
*.log

# Documentation
*.md

# Local Cloud Storage
local_storage/